<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapseEdu">
        Education Qualifications <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="collapseEdu" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="table-responsive">
        <% u.educations.all.each do |edu| %>
          <h4><%= edu.title %></h4>
          <table class="table table-bordered">
            <tr><td>Major</td><td><%= edu.major %></td></tr>
            <tr><td>Institute</td><td><%= edu.institute %></td></tr>
            <tr><td>Grade</td><td><%= edu.grade %></td></tr>
            <tr><td>Graduate</td><td><%= edu.graduate.strftime("%B %Y") %></td></tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
