<% page_heading "Hangman" %>
<%= javascript_include_tag "words/hangman" %>
<%= hidden_field_tag "randomword", @word["word"], { :id => "randomword" } %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>
        <% @caWord.each do |cWord| %>
          <span class="label label-danger answer" data-letter="<%= cWord %>"><% if cWord != '-' %>&nbsp;<% else %>-<% end %></span>
        <% end %>
      </h1>
      <div class="bg-primary">
        <h3>
          <% ("A".."Z").each do |letter| %>
            <div class="btn guess"><h3><strong><%= letter %></strong></h3></div>
          <% end %>
        </h3>
      </div>
      <p>
        Attempt <span id="attempt" class="label label-default">0</span>
        Miss <span id="wrong" class="label label-default">0</span>
      </p>
      <p><%= @word["word"] %></p>
    </div>
  </div>
</div>
