<% page_heading "Cheat Sheet" %>
<div class="container">
  <% Product.all.each do |prod| %>
    <div id="<%= prod.tag %>" class="panel panel-default">
      <div class="panel-heading">
        <h3><strong><%= prod.name %></strong></h3>
      </div>
      <% prod.cheats.each do |cheat| %>
        <div class="panel-body">
          <%= cheat.desc %>
          <div class="well well-sm">
            <code><%= cheat.cheat %></code>
            <%= content_tag(:p, cheat.note, :class => "pull-right text-warning") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
