<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta name="author" content="Looi David">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/topbar" %> 
  <%= yield %>

  <div id="footer">
    <div class="container">
      <p class="text-muted">&copy; dLooi 2014</p>
    </div>
  </div>
</body>
</html>
